footer {
    margin: auto;
    padding-top: 1%;
    border-style: dotted;
    border-color: midnightblue;
    background-color: #edf4ff;
    border-width: 2px;
    border-radius: 1px 100px / 100px;
    text-align: center;
}
h4.Confirmation {
    margin-top: 3px;
    margin-bottom: 20px;
    text-decoration: underline dashed navy;
    font-size: 3vh;
    font-family: 'Gemunu Libre', sans-serif;
    color: rgb(0, 0, 100);
    position: relative;
}
input {
    font-size: 1em;
    color: navy;
    margin: 1px;
    padding: 1mm 30vw;
    border: 2px inset navy;
}
button {
    color: navy;
    border: 2px inset navy;
    padding: 2Q 40vw;
    background-color: hsla(217, 100%, 40%, 20%);
    position: static;
}
button:hover {
    background-color: hsla(217, 100%, 40%, 40%);
}


#placeholder {
    font-family: 'Birthstone', cursive;
    height: 20px;
    width: 90%;
    font-size: 5vmin;
    color: gray;
}
.subheader {
    color:midnightblue;
    display: inline;
}
.dontshow {
    display: none;
}
h1, h2, h3 {
    font-family: 'Gemunu Libre', sans-serif;
    max-width: 50%;
    min-width: none;
}

textarea {
    background: #edf4ff;
    border: 2px inset navy;
}
fieldset {
    background: #edf4ff;
    border: 2px inset navy;
}
input:active {
    background-color: hsla(217, 100%, 40%, 40%);
}
select option {
    color:midnightblue;
}
fieldset > * {
    color:darkslateblue;
}

section {
    margin: auto;
    padding-left: 2%;
    border-style: dotted;
    border-color: midnightblue;
    background-color: #edf4ff;
    border-width: 2px;
    text-align: left;
}

h2 + p {
    color:darkslateblue;
    font-size: 20px;
}
h2 ~ ul {
    background-color:rgb(240, 248, 255);
}
ol:active {
    background-color:rgb(240, 248, 255);
}